<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjcasl.aslintermediaire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoQuiz">

        <activity
            android:name="com.mjcasl.aslintermediaire.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="com.mjcasl.aslintermediaire.controller.lecon.LeconMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.MainActivity" />
        </activity>

        <activity
            android:name=".controller.lecon.pps.LeconPpsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.lecon.LeconMenuActivity" />
        </activity>

        <activity
            android:exported="true"
            android:name="com.mjcasl.aslintermediaire.controller.SplashScreenActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.conjugaison.pps.PpsmenuActivity"
            android:screenOrientation="portrait">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mjcasl.aslintermediaire.controller.conjugaison.ConjugaisonActivity" />

        </activity>

        <activity
            android:name=".controller.conjugaison.pps.Ex2ppsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.pps.PpsmenuActivity" />

        </activity>

        <activity
            android:name=".controller.conjugaison.ConjugaisonActivity"
            android:screenOrientation="portrait" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mjcasl.aslintermediaire.MainActivity" />
        </activity>

        <activity
            android:name=".controller.grammaire.GramActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.vocabulaire.VocActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".controller.conjugaison.pps.Ex1ppsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.pps.PpsmenuActivity" />

        </activity>

        <activity
            android:name=".controller.conjugaison.pps.Ex3ppsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.pps.PpsmenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.pps.Ex4ppsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.pps.PpsmenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.pps.Ex5ppsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.pps.PpsmenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.pps.QFPPSActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.pps.PpsmenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.present.PremenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.ConjugaisonActivity" />

        </activity>

        <activity
            android:name=".controller.conjugaison.present.Ex1preActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.present.PremenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.present.Ex2preActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.present.PremenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.present.Ex3preActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.present.PremenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.present.Ex4preActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.present.PremenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.present.Ex5preActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.present.PremenuActivity" />
        </activity>

        <activity
            android:name=".controller.conjugaison.present.QFPREActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mjcasl.aslintermediaire.controller.conjugaison.present.PremenuActivity" />
        </activity>

    </application>

</manifest>